<div class="container">
  <div class="col-md-3">
    <form {{action "importPeople" on="submit"}}>
      {{textarea
        id="import-list"
        placeholder="List of Names"
        value=importList
        rows=10}}
        <button class="btn btn-primary btn-block" type="submit">Save</button>
    </form>
  </div>
  <div class="col-md-3">
    {{filterable-list list=absent}}
  </div>
  <div class="col-md-3">
    <h3>Absent People</h3>
    <ul id="absent-list" class="btn-group-vertical clearfix">
{{!--       {{input
        type="text"
        id="new-absent"
        placeholder="New Person"
        value=newAbsenceName
        action="createAbsentPerson"}} --}}
      {{input
        type="text"
        id="filter-absent"
        placeholder="Filter Names"
        value=filterAbsenceName}}
      {{#each person in absent}}
        <li class="btn btn-default" {{action "makePresent" person}}>
          {{person.name}}
          <button type="button" class="close" {{action "removePerson" person}}>&times;</button>
        </li>
      {{/each}}
    </ul>
  </div>
  <div class="col-md-3">
    <h3>Present People</h3>
    <ul id="present-list" class="btn-group-vertical clearfix">
    {{input
      type="text"
      id="new-present"
      placeholder="Bob"
      value=newPresenceName
      action="createPresentPerson"}}
      {{#each person in present}}
        <li class="btn btn-default" {{action "makeAbsent" person}}>
          {{person.name}}
          <button type="button" class="close" {{action "removePerson" person}}>&times;</button>
        </li>
      {{/each}}
    </ul>
  </div>
</div>