<div class="container">
  <div class="col-md-3">
    <form {{action "importPeople" on="submit"}}>
      {{textarea
        id="import-list"
        placeholder="List of Names"
        value=importList
        rows=10}}
        <button class="btn btn-primary btn-block" type="submit">Save</button>
    </form>
  </div>
  <div class="col-md-3">
  {{#draggable-dropzone dropped="makeAbsentID"}}
    <h3>Absent People</h3>
    <ul id="absent-list" class="btn-group-vertical clearfix">
      {{input
        type="text"
        id="new-absent"
        placeholder="Bob"
        value=newAbsenceName
        action="createAbsentPerson"}}
        {{#each person in absent}}
          {{#draggable-item content=person.id}}
            <li class="btn btn-default" {{action "makePresent" person}}>
              {{person.name}}
              <button type="button" class="close" {{action "removePerson" person}}>&times;</button>
            </li>
          {{/draggable-item}}
        {{/each}}
    </ul>
  {{/draggable-dropzone}}
  </div>
  <div class="col-md-3">
    {{#draggable-dropzone dropped="makePresentID"}}
    <h3>Present People</h3>
    <ul id="present-list" class="btn-group-vertical clearfix">
    {{input
      type="text"
      id="new-present"
      placeholder="Bob"
      value=newPresenceName
      action="createPresentPerson"}}
        {{#each person in present}}
          {{#draggable-item content=person.id}}
            <li class="btn btn-default" {{action "makeAbsent" person}}>
              {{person.name}}
              <button type="button" class="close" {{action "removePerson" person}}>&times;</button>
            </li>
          {{/draggable-item}}
        {{/each}}
    </ul>
  {{/draggable-dropzone}}
  </div>
</div>